<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vue Mastery Product App</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img v-bind:src="image">
                </div>
                <div class="product-info">
                    <h1>{{ Product }}</h1>
                    <span v-if="onSale">On Sale Now!</span>
                    <p v-if="inventory > 10">in stock</p>
                    <p v-else-if="inventory<=10 && inventory>0">Almost sold out!</p>
                    <p v-else :class="{ outOfStock: !inStock }">out of stock</p>
                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>    <!-- built in for loop! -->
                    </ul>
                    <div v-for="varient in varients" 
                        :key="varient.varientId"   
                        class="color-box"
                        :style="{ backgroundColor: varient.varientColor}"
                        @mouseover="updateProduct(varient.varientImage)"
                        >
                    </div>
                    <ul>
                        <li v-for="size in sizes">{{ size }}</li>
                    </ul>
                    <button @click="addToCart"
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock }"
                        >add to cart
                    </button>
                    <button @click="removeFromCart">remove from cart</button>
                    <div class="cart">
                        <p>Cart{{ cart }}</p>
                    </div>

                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- for development environment w/helpful console warnings -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> --> <!-- for production environment, optimized for size and speed -->
        <script src="main.js"></script>
    </body>
</html>